{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 120,
  "overrides": [
    {
      "files": ["*.md"],
      "options": {
        "singleQuote": false,
        "printWidth": 200,
        "proseWrap": "preserve"
      }
    }
  ]
}